server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: false
      routes:
        - id: auth-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/auth/**
        - id: events-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/events/**, /api/registrations/**, /api/files/**
        - id: notifications-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/notifications/**

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
